<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>退伍一波</title>
  </head>
  <body>
    <div style="text-align:center;background-color:rgb(255, 255, 255);  width: 300px;height: 360px;top: 50%;left: 50%;margin:-175px 0 0 -255px;padding:10px;position:absolute">
            <span style="font-family: Microsoft JhengHei;font-size: 30px;">退伍日期</span>
        <form method="POST" action="/process">
            <div style="margin:50px 0 0 -0;">
                <input type="date" name="date">
            </div>
            <div>

            </div>
            <div style="margin:50px 0 0 -0;">
                <input type="submit" value="確認" style="
                font-family: Microsoft JhengHei;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                background-color: transparent;
                box-shadow: inset 0 0 0 3px #6cc091;
                color: #6cc091 !important;
                border-radius: 30px;
                border: 0;
                cursor: pointer;
                display: inline-block;
                font-size: .75em;
                font-weight: 400;
                height: 3.75em;
                line-height: 3.85em;
                letter-spacing: 2px;
                padding: 0 4em;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                white-space: nowrap;">
            </div>

        </form>
    </div>
  </body>
</html>